export GITLAB_HOME=$HOME/gitlab
export GITLAB_HOST=gitlab.yadavsudhir.com
export GITLAB_HTTP_PORT_MAPPING=9090
export GITLAB_HTTPS_PORT_MAPPING=443
export GITLAB_SSH_PORT_MAPPING=222
export GITLAB_EXTERNAL_URL=https://gitlab.yadavsudhir.com
export GITLAB_EMAIL=gitlab@yadavsudhir.com
export GITLAB_EMAIL_DISPLAY_NAME=Gitlab
export GITLAB_EMAIL_REPLY_TO=gitlab@yadavsudhir.com
export SMTP_ADDRESS=smtp.mailgun.org
export SMTP_PORT=587
export SMTP_USER_NAME=gitlab@yadavsudhir.com
export SMTP_DOMAIN=yadavsudhir.com

